@import "~bootstrap/scss/bootstrap";
@import "./component/hero-section.scss";
@import "./component/donation-info.scss";
@import "./component/quiz.scss";
@import "./component/header.scss";
@import "./component/about-section.scss";
@import "./component/impact-section.scss";
@import "./component/map.scss";
@import "./component/article-section.scss";
@import "./component/layout.scss";
@import "./component/knowledge-page.scss";
@import "./component/about-page.scss";

@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "swiper/css/scrollbar";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --dark-green-background: #024b50;
  --light-green-background: #eaf7e5;
  --dark-menu: #3d4460;
  --cta-green: #9fe970;
  --gray-inactive: #eceef3;
  --green-secondary: #036a71;
  --green-light: #dcead8;
  --green: #5ea04b;
  --title-section: #191f38;
}
.btn {
  height: 48px;
}

.btn-success {
  background-color: var(--cta-green);
  color: var(--dark-green-background);
  border: unset;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  text-transform: capitalize;
  box-shadow: 0px 0.602px 0.602px -1.25px rgba(159, 233, 112, 0.72),
    0px 2.289px 2.289px -2.5px rgba(159, 233, 112, 0.63),
    0px 10px 10px -3.75px rgba(159, 233, 112, 0.25);
}

.btn-outline-secondary {
  color: var(--green-secondary);
  border-color: var(--green-secondary);

  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  text-transform: capitalize;

  &:hover {
    background-color: var(--green-secondary);
    color: white;
  }
}

.bg-dark-green {
  background-color: var(--dark-green-background);
}

.bg-gradient-custom {
  background: linear-gradient(180deg, #eaf7e5, #024b50 100%);
}

body {
  background-color: #f5f4ee;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.card {
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(40, 41, 61, 0.04),
    0px 8px 16px 0px rgba(96, 97, 112, 0.16);
  border: unset;

  .card-body {
    border-radius: 16px;
    background-color: #ffffff;
  }
}

.section-badge-title {
  border-radius: 8px;
  opacity: 0.8;
  background: var(--green);
  padding: 4px 12px;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  color: white;
  width: fit-content;
}

.section {
  &-title {
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 52px;
    color: var(--title-section);

    @media screen and (max-width: 600px) {
      font-size: 24px;
      font-style: normal;
      line-height: 36px;
    }
  }

  &-subtitle {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    color: var(--title-section);
  }

  &-description {
    color: var(--title-section);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px; /* 155.556% */
  }
}

.card-mini {
  border-radius: 20px;
  border: 1px solid var(--Neutral-4, #e2e6ed);
  background: var(--neutral-1-white, #fff);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: rotate(3deg) scale(1);
  }
}

.social-section {
  padding: 80px;

  .col-socmed {
    display: flex;
    justify-content: center;
  }

  .social-med-wrapper {
    width: 100%;
    justify-content: center;
  }

  @media screen and (max-width: 600px) {
    padding: 40px 0;

    .social-med-wrapper {
      width: 90%;
      justify-content: center;
    }

    .col-socmed {
      display: flex;
      justify-content: center;
    }
  }

  .card-body {
    padding: 40px 64px;

    @media screen and (max-width: 600px) {
      padding: 32px 1rem;

      img {
        margin-bottom: 1rem;
      }

      p {
        margin-bottom: 24px;
        text-align: start;
      }
    }

    p {
      font-size: 18px;
      font-style: normal;
      font-weight: 300;
      line-height: 28px;
      text-align: center;

      span {
        color: #3d4460;
      }
    }
  }

  .top-asset {
    position: absolute;
    right: 0px;
    top: 0px;
  }

  .bottom-asset {
    position: absolute;
    left: 0px;
    bottom: 0px;
  }
}

.donate-section {
  background-color: var(--light-green-background);
  padding-top: 80px;

  @media screen and (max-width: 600px) {
    padding-top: 40px;
  }

  .asset-energi {
    position: absolute;
    right: 0;

    z-index: 99;
    width: 282px;
  }

  .card {
    border-radius: 24px;

    .card-body.parrent {
      z-index: 99;
      border-radius: 24px;
      // background-color: #023c40;
      background: url("../../public/energi-asset-vector/bg-donate.png");
      background-size: cover;
      color: white;
      padding: 48px 64px;

      @media screen and (max-width: 600px) {
        padding: 32px 1rem;
      }

      .title {
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: 48px;
        color: white;
      }

      .subtitle {
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: 28px;
        color: white;

        span {
          color: var(--cta-green);
        }
      }
    }
  }
}

.separator-dark-green-circle {
  position: absolute;
  width: 100%;
  height: 100px; /* Adjust the height for the size of the half circle */
  background-color: var(--dark-green-background);
  border-radius: 50%;
  top: -50px; /* Adjust position for top half circle */
  left: 0;
  transform: rotate(180deg);
}

.knowledge-section {
  padding: 80px 0;

  @media screen and (max-width: 600px) {
    padding: 40px 0;
  }

  .card-body {
    padding: 56px 64px !important;

    @media screen and (max-width: 600px) {
      padding: 32px 1rem !important;
    }
  }

  .card-mini {
    margin: 20px 1rem;
    padding: 32px 20px;
    max-width: 320px;
    display: flex;
    justify-content: center;

    @media screen and (max-width: 600px) {
      padding: 32px 1rem;
    }

    img {
      width: 200px;
      height: 200px;
      object-fit: cover;
    }

    p {
      color: var(--title-section);
      text-align: center;

      font-size: 18px;
      font-weight: 600;
      line-height: 28px;

      margin-bottom: 0;
    }

    span {
      color: var(--title-section);
      text-align: center;
      font-size: 18px;
      font-style: normal;
      font-weight: 300;
      line-height: 28px;
    }
  }

  .icon-btn {
    font-size: 24px;
  }

  .btn {
    display: flex;
    align-items: center;
  }

  .card-knowledge {
    border-radius: 16px;
    border: 1px solid #e2e6ed;
    background: white;

    @media screen and (max-width: 600px) {
      margin-bottom: 1rem;
    }

    &:hover {
      box-shadow: 0px 2px 8px 0px rgba(40, 41, 61, 0.08), 0px 20px 32px 0px rgba(96, 97, 112, 0.24);
    }

    img {
      width: 240px;
      border-radius: 16px 0 0 16px;

      @media screen and (max-width: 600px) {
        width: 145px;
      }
    }

    .title {
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 28px;
      color: var(--title-section);

      @media screen and (max-width: 600px) {
        font-size: 16px;
        line-height: 22px;

        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .see-more {
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      text-transform: capitalize;
      color: var(--green-secondary);
    }
  }
}

.video-container {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;

  .thumbnail {
    position: relative;
    cursor: pointer;
    overflow: hidden;

    img.thumbnail-image {
      width: 100%;
      height: auto;
      display: block;
      border-radius: 8px;
      margin-bottom: 1rem;
    }

    .play-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      padding: 20px;
      border: 2px solid white;

      img {
        width: 30px;
        height: 30px;
      }
    }
  }

  .video-iframe {
    width: 100%;
    height: 450px; // Adjust based on your aspect ratio
  }
}

.footer-section {
  padding: 48px 0;
  background-color: #013033;

  .footer {
    &-title {
      color: white;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 20px;
      margin-bottom: 12px;
    }

    &-subtitle {
      color: white;
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      line-height: 20px;
      margin-bottom: 8px;
    }
  }

  .separator {
    color: white;
    border: 1px solid white;
  }
}

.donation-option {
  cursor: pointer;
  display: flex;
  padding: 16px;
  align-items: center;
  gap: 16px;
  border-radius: 12px;
  border: 1px solid #d1d7e2;
  background: #fff;

  img {
    width: 40px;
    height: 40px;
  }

  span {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }

  &:hover {
    box-shadow: 0px 0px 2px 0px rgba(40, 41, 61, 0.04),
      0px 4px 8px 0px rgba(96, 97, 112, 0.16);
    color: #036a71;
  }

  .arrow-icon-wrapper {
    border-radius: 100px;
    background: #f5f7f9;
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
  }
}

.impact-section {
  .swiper {
    width: 100%;
    height: 100%;
    padding: 0.5rem;
  }

  .swiper-slide {
    min-width: 560px;

    @media screen and (max-width: 600px) {
      min-width: unset;
      width: max-content;
    }

    .card-testimoni {
      background-color: white;
      border: 1px solid #e2e6ed;

      .card-body {
        background-color: white;
      }

      &:hover {
        border: 1.2px solid var(--dark-green-background);
      }
    }

    &.swiper-slide-active {
      .card-testimoni {
        background-color: #e6f0f1;
        border: unset;

        .card-body {
          background-color: #e6f0f1;
        }
      }
    }
  }
}

.btn-scroll-top {
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 4px;
  right: 0;

  @media screen and (max-width: 600px) {
    right: 1rem;
  }
}

.accordion {
  --bs-accordion-border-color: unset;
}

.accordion-item {
  border-radius: 12px !important;
  text-align: start !important;
  border: 1px solid #d1d7e2;

  &:not(:first-of-type) {
    border-top: 1px solid #d1d7e2;
  }

  &.expanded {
    border: 4px solid #c3dbdd !important;
    box-shadow: 0px 2px 4px 0px rgba(40, 41, 61, 0.04),
      0px 8px 16px 0px rgba(96, 97, 112, 0.16) !important;

    .accordion-header {
      border-bottom: 1px solid #e2e6ed;
    }

    .accordion-button {
      &::after {
        transform: rotate(45deg);
      }
    }
  }

  .accordion-button {
    border: unset;

    background-color: white;

    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    color: var(--title-section);

    &:focus {
      box-shadow: unset;
    }

    &::after {
      background-image: url(../../public/energi-asset-vector/plus.svg);
    }
  }

  .accordion-body {
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
  }

  .accordion-button {
    padding: 1rem 0;
  }

  .accordion-header {
    margin: 0 20px;
  }
}
