.header-section {
  background-color: var(--light-green-background);
  border-bottom: 1px solid var(--Primary---Emerald-2, #C3DBDD);
  height: 72px;


  a {
    color: var(--dark-menu);
    margin-right: 24px;
    line-height: 22px;
  }

  .logo {
    width: 133px;
    height: 48px;
  }
}