.header-section {
  background-color: var(--light-green-background);
  height: 72px;

  .navbar {
    background-color: var(--light-green-background);
    z-index: 99;

    @media screen and (max-width: 600px) {
      text-align: start !important;

      width: 100%;
      box-shadow: rgba(0, 0, 0, 0.07) 0px 0.60219px 0.60219px -1.25px,
        rgba(0, 0, 0, 0.063) 0px 2.28853px 2.28853px -2.5px,
        rgba(0, 0, 0, 0.024) 0px 10px 10px -3.75px;
    }
  }

  a {
    color: var(--dark-menu);
    margin-right: 24px;
    line-height: 22px;
  }

  .logo {
    width: 133px;
    height: 48px;
  }

  .navbar-collapse {

    @media screen and (max-width: 600px) {
      justify-content: start!important;

      ul {
        display: flex;
        gap: 12px !important;
        padding: 1rem;

        li {
          width: 100%;
          text-align: start;
        }
      }
      
    }
  }
}
