.header-section {
  background-color: white;
  height: 74px;
  padding-top: 5px;

  .btn-donate-mobile {
    padding: 0px 12px;
    height: 32px;
  }

  .nav-link {
    cursor: pointer;

    svg {
      &.opened {
        transform: rotate(-180deg);
      }
    }
  }
  .active-link {
    color: var(--green-secondary);
  }
  .transisi {
    transition: max-height 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
  }
  .dropdown-menu {
    margin-top: 0.75rem;

    .dropdown-item {
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 22px;
      color: #5a627d;
      padding: 12px 24px;
      display: flex;
      align-items: center;

      @media screen and (max-width: 600px) {
        padding: 12px 0;
      }
    }

    @media screen and (max-width: 600px) {
      border: unset;
      margin-top: 0;
    }
  }

  .navbar {
    text-wrap: nowrap;
    background-color: var(--light-green-background);
    z-index: 99;

    @media screen and (max-width: 600px) {
      text-align: start !important;
      color: #191F38;
      width: 100%;
      // box-shadow: rgba(0, 0, 0, 0.07) 0px 0.60219px 0.60219px -1.25px,
      //   rgba(0, 0, 0, 0.063) 0px 2.28853px 2.28853px -2.5px,
      //   rgba(0, 0, 0, 0.024) 0px 10px 10px -3.75px;
    }
  }

  a {
    color: var(--dark-menu);
    margin-right: 24px;
    line-height: 22px;
  }

  .logo {
    width: 133px;
    height: 48px;

    @media screen and (max-width: 600px) {
      width: 100px;
    height: 38px;
    }
  }

  .navbar-collapse {
    @media screen and (max-width: 600px) {
      justify-content: start !important;

      ul {
        display: flex;
        gap: 12px !important;
        padding: 1rem 0;

        li {
          width: 100%;
          text-align: start;
          font-weight: 600;
        }
      }
    }
  }
}
