.hero-section {
  background-color: var(--light-green-background);
  padding-top: 64px !important;

  @media screen and (max-width: 600px) {
    padding-top: 1rem;
  }

  .hero-title {
    font-size: 52px;
    font-style: normal;
    font-weight: 600;
    line-height: 68px;
    position: relative;

    .vector-line {
      position: absolute;
      bottom: 0;
      left: 44%;
      top: 98%;
    }

    @media only screen and (max-width: 600px) {
      .vector-line {
        left: 0;
        width: 100%;
      }

      font-size: 28px;
      font-weight: 500;
      line-height: 38px;
    }
  }

  .hero-description {
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px;
    margin-bottom: 40px;
  }

  .separator-dark-green {
    margin-top: 60px;
    height: 160px;
    width: 100%;
    background-image: url("../../../public/energi-asset-vector/separator-dark-green.svg");
  }

  .asset-left {
    position: absolute;
    left: -5%;
    top: 65%;
  }

  .asset-right {
    position: absolute;
    right: -5%;
    top: 105%;
  }

  .asset-sun {
    position: absolute;
    right: 2%;
    top: 0;
  }

  .asset-msite {
    position: absolute;
    right: 5%;
    bottom: -32%;
    z-index: 99;
  }

  .btn-scroll {
    gap: 8px;
    background-color: #191f38;
    color: white;

    position: absolute;
    left: 15%;
    top: 88%;
    z-index: 99;

    i {
      display: flex;
      padding: 4px;
      justify-content: center;
      align-items: center;
      border-radius: 100px;
      background-color: white;
      color: black;
    }

    @media screen and (min-width: 600px) {
      left: 38%;
      top: 70%;
    }
  }
}
