.impact-section {
  padding-bottom: 80px;

  .card {
    border-radius: 24px;
    padding: 56px 64px;

    .card-body {
      border-radius: 24px;
      background-color: white;
    }
  }

  .card-mini {
    margin: 20px 1rem;
    padding: 32px 20px;
    max-width: 320px;
    display: flex;
    justify-content: center;

    img {
      width: 200px;
      height: 200px;
      object-fit: cover;
    }

    p {
      color: var(--title-section);
      text-align: center;

      font-size: 18px;
      font-weight: 600;
      line-height: 28px;

      margin-bottom: 0;
    }

    span {
      color: var(--title-section);
      text-align: center;
      font-size: 18px;
      font-style: normal;
      font-weight: 300;
      line-height: 28px;
    }

    .badge-video {
      display: flex;
      width: 50px;
      height: 50px;
      padding: 8px;
      justify-content: center;
      align-items: center;
      background-color: #3f5f36;
      border-radius: 10px;
      color: white;
    }
  }

  .card-testimoni {
    max-width: 560px;
    width: 560px;
    padding: 20px;
    background-color: #e6f0f1;
    text-align: start;

    .card-body {
      background-color: #e6f0f1;
    }

    .person {
      width: 100%;
      height: 100%;
    }

    .name {
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      color: var(--dark-green-background);
      margin-bottom: 8px;
    }

    .occupation {
      font-size: 12px;
      font-weight: 300;
      line-height: 22px;
      color: var(--dark-menu);
    }

    .location {
      font-size: 12px;
      font-weight: 300;
      line-height: 16px;
      color: #788099;
    }

    .description {
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: 22px;
      color: #5a627d;
    }
  }

  .video-areas {
    max-width: unset;
    padding: 40px 24px;
    position: relative;

    .date-badge {
      display: flex;
      padding: 8px 16px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      position: absolute;
      left: 0px;
      top: 0px;
      background-color: #fcc431;
      border-radius: 16px 0px 16px 0px;

      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 20px;
    }

    .title {
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
    }

    .desc {
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: 22px;
      color: #5a627d;
    }

    .art-title {
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 28px; 
    }

    .art-desc {
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      line-height: 20px;
      color: #5a627d;

      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
